@import '../node_modules/flatpickr/dist/flatpickr.min.css';

html,
body {
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: 'Spartan';
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: grey;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: lightgrey;
  width: 100%;
  padding-bottom: .25em;
}

#icon {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

#icon>img {
  align-self: flex-end;
  max-height: 3em;
  width: auto;
  margin-bottom: 1.5em;
}

#icon>h3 {
  font-size: 1.5em;
  margin-right: 2em;
}

.profile-picture {
  align-self: center;
  height: 8em;
  width: auto;
  border-radius: 1em;
  box-shadow: 3px 3px 3px #888888;
  margin: .75em 1.5em;
}

h1 {
  font-size: 2em;
  margin: 1em;
  display: flex;
  align-self: flex-end;
}

#calendar {
  display: flex;
  min-width: 8em;
  min-height: 8em;
  align-self: center;
  align-items: center;
  text-align: center;
  background: url('../docs/calendar-icon.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: .25em;
  box-shadow: 3px 3px 3px #888;
  margin-right: .5em;
}

#current-day{
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: repeat(2, 1fr);
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  margin-top: 1em;
}

section {
  padding: .75em;
  min-height: min-content;
  min-width: min-content;
}

canvas {
  align-self: end;
}

.underlay {
  background-color: rgb(255,255,255,.6);
  border-radius: 1em;
  max-width: 98%;
  min-width: 34.5em;
  min-height: 32.5em;
  display: grid;
  grid-template-rows: min-content 1fr 1.5em;
  box-shadow: 3px 3px 3px #888888;
  padding: .75em;
}

.step-goal-title, .minutes-active-title, .miles-title,
.hours-slept-title, .sleep-quality-title, .ounces-drunk-title,
.compare-steps-day-title, .compare-minutes-active-title, .flights-of-stairs-climbed-title,
.compare-hours-slept-title, .compare-sleep-quality-title, .water-consumption-title, .name {
  text-shadow: 0 0 3px #E8E8E8, 0 0 5px #7A7A82;
}

.compare-steps-day, .compare-steps-day, .flights-of-stairs-climbed,
.compare-hours-slept, .compare-sleep-quality, .compare-water-consumption {
  margin: .5em;
}

.activity button {
  cursor: pointer;
  border-radius: 1em;
}

.steps-achieved:hover {
  background-color: #f09f57;
}

.minutes-active:hover {
  background-color: #ead96e;
}

.miles:hover {
  background-color: #81c64a;
}

.hours-slept, .sleep-quality, .ounces-drunk,
.compare-steps-day, .compare-minutes-active, .flights-of-stairs-climbed,
.compare-hours-slept, .compare-sleep-quality, .compare-water-consumption {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1em;
  border-radius: 1em;
  width: min-content;
  height: min-content;
  min-width: 14.5em;
  align-self: center;
}

.header-button {
  width: 50%;
  background: border-box;
}

.header-button:hover {
  background: #1D405D;
}
.activity {
  grid-column: 1;
  grid-row: 1;
}

.activity-color{
  border-radius: 1em;
  background-color: #FF9181;
}

.steps-achieved {
  grid-row: 1;
  margin: 1em;
  background-color: #e88126;
}

.minutes-active {
  grid-row: 1;
  margin: 1em;
  background-color: #f0d630;
}

.miles {
  grid-row: 1;
  margin: 1em;
  background-color: #458511;
}

.activity canvas {
  grid-row: 2;
  grid-column: 1 / span 4;
}

.sleep {
  grid-column: 2;
  grid-row: 1;
}

.sleep>.underlay {
  display: grid;
  grid-template-columns: 1fr 1em 1fr;
  grid-template-rows: min-content min-content 1fr 1.5em;
}

.sleep-color{
  border-radius: 1em;
  background-color: #e1c2ff;
}

.hours-slept {
  grid-row: 1;
  margin: 1em;
  grid-column: 1;
}

.sleep-quality {
  grid-row: 1;
  margin: 1em;
  grid-column: 3;
}

.sleep-key {
  grid-column: 1 / span 3;
  grid-row: 2;
  justify-self: center;
  width: 100%;
  height: auto;
}

.sleep-chart {
  grid-row: 3;
  grid-column: 1 / span 3;
}

.hydration {
  grid-column: 1;
  grid-row: 2;
}

.hydration-color{
  border-radius: 1em;
  background-color: #B7C2F8;
}

.ounces-drunk{
  grid-row: 1;
  justify-self: center;
}

#hydration-chart {
  grid-row: 2;
}

.compare {
  grid-column: 2;
  grid-row: 2;
}

.compare-color{
  border-radius: 1em;
  background-color: #79e1ae;
}

.compare-underlay {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.social {
  margin-left: .75em;
  grid-column: 3;
  grid-row: 1 / span 3;
}

.social-color{
  border-radius: 1em;
  background-color: #E1FF69;
}

.social-underlay {
  grid-template-rows: 1fr 1fr 1fr;
}

.friend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .5em;
  margin-bottom: .75em;
  background-color: rgb(200, 200, 200, .5);
  border-radius: .5em;
  box-shadow: 3px 3px 3px #888888;
}

.friend>img, .friend>div {
  align-self: center;
  margin: 1em;
}

.friend>img {
  width: auto;
  height: 10em;
  border-radius: 1em;
  box-shadow: 3px 3px 3px #888888;
}

.flatpickr-calendar {
    width: 23em;
}

@@media query  {

}
